[Unit]
Description=Run scada data_server application
After=syslog.target network.target multi-user.target

[Service]
User=scada
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/scada/app/python-proj/s7-data-server/
ExecStart=python3.10 /home/scada/app/python-proj/s7-data-server/sds_run.py

[Install]
WantedBy=multi-user.target
