[Unit]
Description=conigure and run scada api_server application
After=syslog.target network.target multi-user.target

[Service]
User=scada
Type=simple
Restart=always
RestartSec=1s
WorkingDirectory=/home/scada/app/python-proj/s7-data-server/
ExecStart=/usr/bin/python3 /home/scada/app/python-proj/s7-data-server/api_server.py

[Install]
WantedBy=multi-user.target
