[Unit]
Description=conigure GUI for scada monitoring application
PartOf=graphical-session.target

[Service]
User=scada
Type=oneshot
Restart=no
Environment="DISPLAY=:0"
ExecStart=/home/scada/app/configure_ui.sh

[Install]
WantedBy=graphical-session.target
