[Unit]
Description=conigure and run scada data_server application
After=syslog.target network.target multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/scada/app/python-proj/s7-data-server/
ExecStart=/usr/bin/python3 /home/scada/app/python-proj/s7-data-server/sds_run.py

[Install]
WantedBy=multi-user.target
