[Unit]
Description=Run scada monitoring application
After=multi-user.target
BindsTo=graphical.target
PartOf=graphical.target

[Service]
User=scada
Type=simple
OnBootSec=1
TimeoutStartSec=1
Restart=always
RestartSec=1
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/scada/.Xauthority"
WorkingDirectory=/home/scada/app/crane_monitoring_app/
ExecStart=/home/scada/app/crane_monitoring_app/crane_monitoring_app

[Install]
WantedBy=graphical.target
