[Unit]
Description=conigure and run scada monitoring application
PartOf=graphical-session.target

[Service]
User=scada
Type=oneshot
TimeoutStartSec="1s"
WatchdogSec="3s"
Restart=on-watchdog
RestartSec="1s"
Environment="DISPLAY=:0"
WorkingDirectory=/home/scada/app/internal_v0.0.20/
ExecStart=/home/scada/app/internal_v0.0.20/crane_monitoring_app

[Install]
WantedBy=graphical-session.target
